body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --button-text: "Open Sans";
  --body-1: Inter;
  --caption: Roboto;
  --font-montserrat: Montserrat;

  /* font sizes */
  --button-text-size: 14px;
  --font-size-xl: 20px;
  --body-1-size: 16px;
  --font-size-smi: 13px;
  --caption-size: 12px;
  --font-size-mini: 15px;

  /* Colors */
  --white: #fff;
  --color-lightsteelblue: #9fafc1;
  --color-black: #000;
  --gray-500: #9e9e9e;
  --primary-color: #23a6f0;
  --success-color: #2dc071;
  --second-text-color: #737373;

  /* Gaps */
  --gap-xl: 20px;
  --gap-5xl: 24px;
  --gap-24xl: 43px;
  --gap-55xl: 74px;
  --gap-18xl: 37px;
  --gap-130xl: 149px;
  --gap-4xl: 23px;
  --gap-lgi: 19px;
  --gap-80xl: 99px;
  --gap-30xl: 49px;
  --gap-29xl: 48px;
  --gap-2xs: 11px;
  --gap-3xs: 10px;
  --gap-10xs: 3px;
  --gap-3xl: 22px;
  --gap-22xl: 41px;
  --gap-20xl: 39px;
  --gap-16xl: 35px;
  --gap-mid: 17px;

  /* Paddings */
  --padding-9xs: 4px;
  --padding-18xl: 37px;
  --padding-2xl: 21px;
  --padding-7xs: 6px;
  --padding-xl: 20px;
  --padding-4xl: 23px;
  --padding-5xl: 24px;
  --padding-2xs: 11px;
  --padding-base: 16px;
  --padding-xs: 12px;
  --padding-11xs: 2px;
  --padding-mid: 17px;
  --padding-6xs: 7px;
  --padding-10xs: 3px;
  --padding-8xs: 5px;
  --padding-19xl: 38px;
  --padding-sm: 14px;
  --padding-lgi: 19px;
  --padding-34xl: 53px;
  --padding-7xl: 26px;
  --padding-5xs: 8px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-8xs: 5px;
}
