.rectangle-frame {
  height: 1020px;
  width: 109px;
  position: relative;
  background-color: var(--color-lightsteelblue);
}

.images-1-icon {
  width: 73px;
  height: 58px;
  position: absolute;
  top: 0;
  right: 322px;
  border-radius: var(--br-3xs);
  object-fit: cover;
}

.email,
.password {
  width: 85px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}

.create-account-frame-child,
.create-account-frame-item {
  width: 293px;
  height: 17px;
  position: relative;
}

.frame-email-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 192px;
  gap: 95px;
}

.frame-password-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.primary-small-hower {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 32px;
  width: 95px;
  position: relative;
}

.wrapper-buttonbase-primary,
.wrapper-buttonbase-primary1,
.wrapper-buttonbase-primary2 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonbase-primary-hower,
.buttonbase-primary-hower1,
.buttonbase-primary-hower2 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  transform: scale(1.906);
}

.value,
.value1,
.value2 {
  position: absolute;
  width: calc(100% - 32px);
  top: 6px;
  left: 16px;
  font-size: var(--button-text-size);
  letter-spacing: 0.75px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--button-text);
  color: var(--white);
  text-align: center;
  display: inline-block;
  height: 15px;
  z-index: 1;
}

.frame-primary-small-hover {
  width: 136px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}

.frame-create-lecturer-account {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px; /* Adjust as needed */
}

.create-account-button,
.create-account-button1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px; /* Adjust as needed */
}

.rectangle-frame1 {
  height: 1020px;
  width: 109px;
  position: relative;
  background-color: var(--color-lightsteelblue);
}

.desktop-1 {
  width: 100%;
  position: relative;
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
  letter-spacing: normal;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--body-1);
}

@media screen and (max-width: 1050px) {
  .desktop-1 {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1000px) {
  .frame-email-input {
    gap: 47px;
    padding-top: 125px;
    box-sizing: border-box;
  }
  .frame-create-lecturer-account {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 725px) {
  .frame-create-lecturer-account {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 450px) {
  .create-account-frame,
  .create-account-frame1 {
    flex-wrap: wrap;
  }
}
